.scroll-view-container {
    background-image: url( '/static/layout/blob-desktop.svg' );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $brand-blue-1;
    
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;

    .snap-scroll {
        height: 100vh;
        padding-top: 5.5rem;
        scroll-snap-align: start;
    }

    @media( max-width: $breakpoint--medium ) {
        background-image: url( '/static/layout/blob-mobile.svg' );
    }
}