.footer-container {
    position: fixed;
    bottom: 1rem;
    right: 2rem;

    &.footer-static {
        position: static;
        display: flex;
        justify-content: flex-end;
        padding: 2rem;
        padding-top: 5rem;
    }

    .footer-wrapper {
        display: flex;

        .footer-nav-wrapper {
            display: inline-flex;
            align-items: center;

            .footer-popup-nav-container {
                    // required for popup to not take space in the document flow
                    position: relative;

                    .footer-popup-nav-wrapper {
                        position: absolute;
                        bottom: 3rem;
                        right: 3rem;
                        background-color: white;
                        border-radius: 8px;

                        transition: transform 0.27s ease;

                        &.active {
                            transform: scale( 1 );
                        }

                        &.not-active {
                            transform: scaleY( 0.9 );
                            transform: scaleX( 0.7 );
                        }

                        .footer-popup-link-wrapper {
                            display: flex;
                            flex-direction: column;

                            .footer-popup-link {
                                display: flex;
                                align-items: center;
                                padding: 1rem 0.75rem;
                                z-index: 9;
                                
                                transition: background-color 0.3s ease;

                                &:hover {
                                    background-color: $brand-gray-1;
                                }
                                
                                .footer-popup-link-icon {
                                    padding-right: 0.3rem;
                                }

                                .footer-link-text {
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }
                
            .footer-text {
                margin-right: 1rem;
                color: $brand-gray-2;

                transition: color 0.3s ease;
                
                &:hover, &.active {
                    color: black;

                    &:before {
                        opacity: 1;
                    }
                }

                &:before {
                    opacity: 0;
                    transition: opacity 0.4s ease;
                }

                &:hover:before {
                    opacity: 1;
                }

                &.footer-custom-text {
                    &:before {
                        content: '*';
                    }
                }

                &.footer-generic-text {
                    &:before {
                        content: '^';
                    }
                }
            }
        }
    }

    @media ( max-width: $breakpoint--medium ) {
        .footer-wrapper {
            .footer-nav-wrapper {
                .footer-popup-nav-container {
                    .footer-popup-nav-wrapper {
                        right: 2rem;
                    }
                }
            }
        }
    }
}