.footer-container {
    position: fixed;
    bottom: 1rem;
    right: 2rem;

    border: 5px solid red;

    .footer-wrapper {
        display: flex;
        align-items: center;

        .footer-links-wrapper {
            margin-right: 2rem;
            color: $brand-gray-2;
        }
    }
}