.footer-container {
    position: fixed;
    bottom: 1rem;
    right: 2rem;

    border: 5px solid red;

    .footer-wrapper {
        display: flex;

        border: 3px solid blue;
        
        .footer-nav-container {
            display: inline-flex;
            align-items: center;

            border: 5px solid yellow;

            .footer-nav-wrapper {
                .footer-popup-container  {
                     // required for popup to not take space in the document flow
                    position: relative;
    
                    .footer-popup-wrapper {
                        position: absolute;
                        bottom: 1rem;
                        right: 2.5rem;
                        background-color: white;
                        border-radius: 8px;
                        padding: 1.5rem;
                        z-index: 9;
                       
                        // do not display by default
                        // opacity: 0;
                        // visibility: hidden;
    
                        transition: opacity 0.5s ease;
    
                        .footer-link-text {
                            white-space: nowrap;
                        }
                    }
                }
                
                .footer-text {
                    margin-right: 1rem;
                    color: $brand-gray-2;
                    
                    border: 5px solid orange;

                    &:hover {
                        // .footer-popup-wrapper {
                        //     visibility: visible;
                        //     opacity: 1;
                        // }
                    }
                }
            }
        }
    }
}