.header-container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 101;

    &.header-sticky {
        position: sticky;
    }

    .header-wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 1.5rem;

        .header-buttons-wrapper {
            .header-button {
                margin-right: 3rem;

                &:hover, &.active {
                    &:after {
                        opacity: 1;
                    }
                }

                &:after {
                    position: absolute;
                    opacity: 0;
                    
                    transition: opacity 0.3s ease;
                }

                &.header-link-button {
                    &:after {
                        content: '*';
                    }
                }

                &.header-sublink-button {
                    &:last-of-type {
                        margin-right: 2rem;
                    }

                    &:after {
                        content: '^';
                    }
                }
            }

            .header-button--Shop {
                border: 5px solid $green-4;

                &:hover, &.active {
                    background-color: $green-2;
                }
            }

            .header-button--Explore {
                border: 5px solid $purple-4;

                &:hover, &.active {
                    background-color: $purple-1;
                }
            }
        }
    }

    .header-dropdown-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 93%;
        margin: auto;
        background-color: white;

        transition: transform 0.3s ease;

        &.active {
            transform: scale( 1 );
        }

        &.not-active {
            transform: scale( 0.9 );
        }

        .header-dropdown-link-wrapper {
            width: 30rem;
            border: 2px solid black;
            border-radius: 7px;

            $header-link-transition: background-color 0.3s ease;
            .header-dropdown-main-link {
                display: flex;
                align-items: center;
                padding: 1rem;
                
                transition: $header-link-transition;

                .header-dropdown-main-link-text {
                    padding-left: 0.8rem;
                }

                &:hover {
                    background-color: $brand-gray-1;
                }
            }

            .header-dropdown-sublinks-wrapper {
                display: flex;
                flex-direction: column;

                .header-dropdown-sublink {
                    display: flex;
                    align-items: center;
                    padding: 0.2rem;

                    transition: $header-link-transition;

                    &:hover {
                        background-color: $brand-gray-1;
                    }

                    .header-dropdown-sublink-text-wrapper {
                        padding: 1rem;

                        .header-dropdown-sublink-title {
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}