.header-container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 101;

    &.header-sticky {
        position: sticky;
    }

    .header-wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 1.5rem;

        .header-buttons-wrapper {
            border: 5px solid black;
            
            .header-button {
                margin-right: 3rem;

                &:hover, &.active {
                    &:after {
                        opacity: 1;
                    }
                }

                &:after {
                    position: absolute;
                    opacity: 0;
                    transition: opacity 0.4s ease;
                }

                &.header-link-button {
                    &:after {
                        content: '>';
                    }
                }

                &.header-sublink-button {
                    &:last-of-type {
                        margin-right: 2rem;
                    }

                    &:after {
                        content: '^';
                    }
                }
            }

            .header-button--Shop {
                border: 5px solid $green-4;

                &:hover {
                    background-color: $green-2;
                }
            }

            .header-button--Explore {
                border: 5px solid $purple-4;

                &:hover {
                    background-color: $purple-1;
                }
            }
        }
    }

    .header-dropdown-wrapper {
        display: flex;
        flex-direction: column;

        transition: transform 0.3s ease;

        &.active {
            transform: scale( 1 );
        }

        &.not-active {
            transform: scale( 0.9 );
        }

        .header-dropdown-link-wrapper {
            padding: 1rem;
            background-color: white;
            border: 2px solid black;

            .header-dropdown-link {
                display: flex;
                align-items: center;

                border: 2px solid red;

                .header-dropdown-link-text {
                    padding-left: 0.8rem;
                }

            }
        }
    }
}