.sidebar-container {
    .sidebar-wrapper {
        position: fixed;
        right: 2rem;
        top: 13.5%;
        height: 75%;

        border: 5px solid gray;

        .sidebar-nav-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;

            .sidebar-icon-button {

                border: 5px solid black;

                .sidebar-icon {
                    &.sidebar-icon-active {
                        border: 5px solid yellow;
                    }
                }
            }
        }
    }
}