/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$text-highlight--color:                 lighten( $brand-gray-1, 5% );

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
/* WEBKIT / BLINK BROWSERS */
::selection {
    background: $text-highlight--color; 
}

/* GECKO BROWSERS */
::-moz-selection {
    background: $text-highlight--color; 
}