/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$text-highlight--color:                 $brand-blue-1;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
/* WEBKIT / BLINK BROWSERS */
::selection {
    background: $text-highlight--color; 
}

/* GECKO BROWSERS */
::-moz-selection {
    background: $text-highlight--color; 
}