.view-panel-container {
    .view-panel-wrapper {
        display: flex;

        .view-panel-text-wrapper {
            width: 50%;
            border: 5px solid red;
        }

        .view-panel-image-wrapper {
            margin-top: 8rem;

            border: 5px solid orange;
        }
    }
}