/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$button-lg--padding:                1.65rem;
$button-md--padding:                1.2rem;
$button-sm--padding:                1rem;

$button--border-radius:             5px;

$button--animation-duration:        0.3s;

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.button-wrapper {
    transition: background-color $button--animation-duration ease;
}

.link-button-wrapper {
    transition: background-color $button--animation-duration ease;
}

.button-lg {
    padding: ( $button-lg--padding / 2 ) $button-lg--padding;
}

.button-md {
    padding: ( $button-md--padding / 2 ) $button-md--padding;
}

.button-sm {
    padding: ( $button-sm--padding / 2 ) $button-sm--padding;
}