/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
html,
body {
  margin: 0;
  font-family: Telex; 
  scroll-behavior: smooth;
}

main.site-content {
  text-align: center;
}

section {
  height: 100vh;
}

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.hide {
  display: none !important;
}