/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
html,
body {
  margin: 0;
  font-family: Telex; 
  scroll-behavior: smooth;
}

main.site-content {
}

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.hide {
  display: none !important;
}